<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Gained in Translation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
	<div class="container">
		<form action="/view/process" method="POST">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-6">
					<h1><span word="{{ poem['title'] }}">{{ poem['title'] }}</span></h1>
					<div class="form-group">
						<label class="sr-only" for="title">Translate the title here</label>
						<input class="form-control" type="text" name="title" id="title" placeholder="Write your translation here">
					</div>
				</div>
			</div>
			<div class="row space-before">
				<div class="col-sm-12 col-md-6">
				{% for idx in range(length) %}
				<p>
					{% for word in poem['wordlists'][idx] %}
					<span word="{{ word }}">{{ word }}</span>
					{% endfor %}
				</p>
				<div class="form-group">
					<label class="sr-only" for="{{ idx }}">Write your translation here</label>
					<input class="form-control" type="text" name="{{ idx }}" id="{{ idx }}" placeholder="Write your translation here">
				</div>
				{% endfor %}
				</div>
				<div class="hidden-xs hidden-sm col-md-6">
					<p class="invisible">Click on a word to see its translation!</p>
				</div>
				<div class="translate-md hidden-sm hidden-xs translate">
					<p>Click on a word to see its translation!</p>
				</div>
			</div>
			<div class="row space-after">
				<div class="col-md-offset-4 col-md-4">
					<h1><input class="btn btn-block btn-lg" type="submit" value="Complete"></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="hidden-md hidden-lg translate-sm translate">
						<p>Click on a word to see its translation!</p>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
